<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YOliet, learn to write in in a foreign language with the help of AI</title>
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Here you can practise writing and receive direct feedback from an AI with helpful tips on grammar. Just type a sentence in a language you want to learn, to get feedback from AI.">
    <meta name="keyword" content="ai,writing,gpt,grammar,practise writing,foreign language,memory,german B2,declination,conjugation,spelling">
    <meta property="og:description" content="A conversational AI system that help you to write in a foreign language.">
    <meta property="og:title" content="YOliet">
    <meta property="og:image" content="/images/YOliet.ico">
    <meta property="og:url" content="https://yoliet.de">
    <link rel="icon" type="image/x-icon" href="/images/YOliet.ico">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="/script.js"></script>
    
</head>
<body>
    
    <div class="container">
        <header></header>
        <main>
            <div id="result_history">
            </div>

            <div id="special">
            </div>
            <form autocomplete="off" action="/submit" id="mainForm" method="POST">
                <div class="search-container">

                    <!--Also eigentlich wollte ich den rechts von der Eingabe haben, aber bei mobilen Browsern wird das versenden von forms mit enter verhindert-->
                    <div class="select-container">
                        <label for="ich_lerne">Ich lerne</label>
                        <select name="learn" aria-label="ich_lerne" id="learn_selected" form="mainForm" required="false">
                            <option value="german">Deutsch</option>
                            <option value="english">Englisch</option>
                            <option value="spanish">Spanisch</option>
                            <option value="french">Französisch</option>
                            <option value="italian">Italienisch</option>
                            <option value="swedish">Schwedisch</option>
                        </select>
                    </div>

                    <input id="userInput" maxlength="150" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" aria-label="search" type="text" name="userInput" aria-invalid="false" placeholder="Type a sentence in German." required />
                    
                </div>
                <button type="submit" hidden>Submit</button>
            </form>

            <div class="button-container">
                <button class="btn" id="showmemory">
                    <i class="fas fa-brain"></i> Memory
                </button>
                <button class="btn" id="text2fill">
                    <i class="fas fa-file-alt"></i> Text
                </button>
                <button class="btn" id="exam">
                    <i class="fas fa-clipboard-list"></i> Exam Simulation
                </button>
            </div>
            

            <div class="result" id="current_result">
               <h3 class="correction">Learn and Improve with AI-Powered Language Feedback</h3>
                <h4>
                Welcome to YOliet, your personal AI-powered language learning companion!<br>
                </h4>
                Have you ever wanted to practice a foreign language but weren’t sure if you were on the right track? With Yoliet, you can:<br>
                <ul>
                    <li>
                        <h5>Submit a Text:</h5> Write a sentence, or a simple paragraph in the language you're learning. YOliet will act as your virtual teacher, analyzing your writing, correcting mistakes, and offering tips to improve your grammar, vocabulary, and style.
                    </li>
                    <li>
                        <h5>Play Memory Games:</h5> Strengthen your vocabulary and improve recall with engaging memory games tailored to your learning level.
                    </li>
                    <li>
                        <h5>Fill in the Gaps:</h5> Practice grammar and vocabulary by completing gap-fill exercises, helping you master the nuances of your target language.
                    </li>
                </ul>
                YOliet is more than just a tool—it’s your interactive language coach. It provides constructive feedback, explanations, and personalized exercises to help you write better, think more fluently, and truly enjoy the process of learning a new language.<br>

                Whether you're a student, self-learner, or language enthusiast, Yoliet is here to make language learning fun, effective, and rewarding.<br>
                Try it now and take your language skills to the next level!
                
            </div>
            <div id="loading">
                <div class="skeleton" style="width: 60%; height: 1em; margin: 1em;"></div>
                <div class="skeleton" style="width: 80%; height: 2em; margin: 1em;"></div>
                <div class="skeleton" style="width: 80%; height: 8em; margin: 1em;"></div>
            </div>


        </main>
            <div id="impressum">
                <h3>
                    Impressum
                </h3>
                <p>Janik Scheuring</p>
                <p>Treidelweg 3</p>
                <p>21079 Hamburg</p>
                <a href="info@igcflying.de">info@igcflying.de</a>
            </div>
            <footer>
                <div class="impressum">
                    <div>Made with ♡ in Hamburg for Yovana</div>
                    <div><a id="showimpressum">Impressum</a></div>
                    
                </div>
            </footer>
    </div>
</body>
</html>
