html, body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    padding: 0;
    margin: 0;
    width: 100%;
}

.history {
    padding-top: 20%;
}

.umlaute {
    all: unset;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.568);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.8s;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: rgba(0, 0, 0, 0.75);
}
  
/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    display: none;
    overflow: hidden;
    text-align: left;
}

.container {
    width: 90vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

#special {
    margin: 0;
    padding-top: 0.75rem;
    color: #fff;
    text-align: center;
    letter-spacing: 1.5rem;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-bottom: 15px; /* Add spacing between the search box and the sort dropdown */
}

.search-container input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    flex-grow: 1;
    margin-right: 0.75rem;
    padding: 1.75rem;
    border-bottom: 1px solid #757575;
}

.search-container input::placeholder {
    color: #b3b3b3;
}

.select-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-size: 14px;
}

.select-container label {
    margin-bottom: 5px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.568);
}

.select-container select {
    background-color: #1E1E1E;
    border: none;
    border: none;
    color: white;
    font-size: 14px;
    padding-right: 0.75rem;
    -webkit-appearance: none; /* Remove arrow in WebKit browsers */
    -moz-appearance: none;    /* Remove arrow in Firefox */
    appearance: none;         /* Remove arrow in modern browsers */
}

.select-container select:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.r_userInput {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #9aa0a6;
}

@keyframes skeleton-loading {
    0% {
      background-color: #757575;
    }
    100% {
        background-color: #9aa0a6;
    }
}

#loading {
    display: none;
}
.skeleton {
    animation: skeleton-loading 1.5s ease-in infinite;
}

h3 {
    margin-top: 0;
}

.result {
    margin-top: 20px;
    color: #fff;
    text-align: left;
    padding: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    letter-spacing: normal;
}
.result p:first-of-type {
    margin: 0;
}

table {
    border-collapse: collapse;
}
  
th,td {
    padding: 0.25rem;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 95px);
    gap: 4px;
}
.memory-card {
    width: 95px;
    height: 95px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s, border-color 0.3s;
    position: relative;
    border: .25rem solid transparent;
    box-sizing: border-box;
}
.memory-card:active {
    transform: scale(0.95);
}
.memory-card.flipped {
    background-color: #eae4dd;
    cursor: default;
}
.memory-card span {
    display: none;
    font-size: 2rem;
}

.memory-card[data-type="text"] span {
    font-size: 1rem;
    text-align: center;
    color: black;
}
.memory-card.flipped span {
    display: block;
}


footer {
    color: #9aa0a6;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0;
    width: 100%;
}
.impressum{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#impressum {
    display: none;
}